* {
  box-sizing: border-box;
  width: 375px;
  font-family: "Roboto", sans-serif;
}

:root {
  font-family: "Roboto", sans-serif;
}

.header {
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px #0000000d;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.header img {
  width: 75px;
  height: 53px;
}
.header ion-icon {
  font-size: 45px;
  width: 45px;
}
.chat {
  margin: 84px 0;
  height: 100%;
  background-color: #f3f3f3;
}
.chat div {
  padding: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  line-break: anywhere;
}
.status {
  background-color: #dcdcdc;
}
.message {
  background-color: #fff;
}
.private_message {
  background-color: #ffdede;
}
.time {
  width: 50px;
  flex-shrink: 0;
  color: #AAAAAA;
  display: inline;
}
.name {
  width: auto;
  color: #000000;
  font-weight: bold;
}
.msgText{
  width: auto;
}
.bottom {
  height: 80px;
  background-color: #fff;
  box-shadow: 0px -4px 6px 0px #0000000d;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}
.bottom input {
  margin: 0px 18px;
  font-size: 18px;
  border: 0;
}
.bottom ion-icon {
  width: 26px;
  height: 26px;
  font-size: 26px;
  margin: 0 18px;
}
.bottom ::placeholder {
  color: black;
  font-style: italic;
}

.menu {
  height: 100vh;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.participants {
  height: inherit;
  width: 259px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #FFFFFF;
}
.fog {
  height: inherit;
  flex-grow: 1;
  background-color: #00000099;
}
.contact-title{
  width: inherit;
  display: flex;
  align-items: center;
  height: 85px;
}
.contact-title p {
  width: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.contact{
  width: inherit;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 1px 18px;
}
.contact ion-icon{
  font-size: 25px;
  width: 28px;
}
.contact p{
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  width: 100%;
  flex-grow: 1;
}
.visibility {
  height: inherit;
  width: 259px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #FFFFFF;
}
.visibility ion-icon{
  font-size: 25px;
  width: 28px;
}
.visibility p{
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
  width: 100%;
  flex-grow: 1;
}
.visibility-title{
  width: inherit;
  display: flex;
  align-items: center;
  height: 85px;
}
.visibility-title p {
  width: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
